body {
  background-color: /* #7BD3EA#A1EEBD */ #f6f7c4;
}

.main-div {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  border: 2px solid gray;
  border-radius: 50px;
  padding: 0px 20px 0px 20px;
  /* top right bottom left of padding and margin can 0px 20px i vse */
}

.logo-div {
  display: flex;
  flex-direction: row;
  gap: 10px;
  align-items: center;
}

.logo {
  height: 50px;
  width: 50px;
}

.logo-text {
  font-weight: bold;
  font-size: 20px;
}

.search-div {
  /* background-color: pink; */
  width: 30%;
  display: flex;
  flex-direction: row;
  position: relative;
}

.search-icon {
  height: 20px;
  width: 20px;
  position: absolute;
  bottom: 5px;
  right: 20px;
  background-color: rgb(173, 173, 237);
  border-radius: 50%;
  padding: 3px;
}

.search-input {
  width: 100%;
  height: 30px;
  border-radius: 20px;
  padding-left: 10px;
}

/* menu container */
.menu {
  /*   background-color: pink; */
  margin-top: 30px;
  padding: 10px 20px 10px 20px;
  display: flex;
  gap: 30px;
}

.menu-btn {
  background: none;
  border: none;
  font-weight: bold;
}

.content {
  display: flex;
  flex-direction: row;
}

.column1 {
  padding: 20px;
  width: 50%;
}

.column2 {
  display: flex;
  width: 50%;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

.cat {
  width: 60%;
}

.header-text {
  font-size: 35px;
  font-family: "Matemasie", serif;
  font-weight: 400;
  font-style: normal;
  color: rgb(54, 53, 53);
}

.text {
  font-size: 10px;
}

.btn-container {
  margin: 20px 0px 20px;
  display: flex;

  gap: 15px;
}

.action-btn {
  border-radius: 20px;
  border: 1px solid grey;
  padding: 3px;
  width: 100px;
}

.blue-btn {
  background-color: rgb(22, 153, 153);
  color: #f6f7c4;
}

.pink-btn {
  background-color: rgb(233, 105, 126);
}

.see-more-container {
  display: flex;
  flex-direction: row;
  align-items: center;
}

.see-more-btn {
  background-color: none;
  border: none;
  font-weight: bold;
}

.see-more-icon {
  width: 15px;
  height: 13px;
}

/* content2 */

.content2 {
  /* background-color: aqua; */
  display: flex;
  justify-content: space-between;
  /*  flex-direction: column; */
  gap: 10px;
  flex-wrap: wrap;
}

.container {
  background-color: pink;
  flex: 1;
  min-width: 300px;
}

.content3 {
  display: grid;
  gap: 10px;
  margin-top: 30px;
  /* grid-template-columns: 2fr 1fr 1fr; */ /* 50% 25% 25% */
  /*  grid-template-columns: (auto-fit, minmax(320px, 1fr)); */
}
.grid-container {
  background-color: tomato;
  /* min-width: 300px; */
}

/* .container1 {
  flex: 2;
} */

/* meadia quires обычно пишется внизу */

@media (max-width: 480px) {
  .search-div {
    width: 50%;
  }
  .content {
    flex-direction: column;
    background-color: pink;
    align-items: center;
    text-align: center;
  }
  .column1 {
    width: 90%;
  }
  .btn-container,
  .see-more-container,
  .menu {
    justify-content: center;
  }
  .menu {
    gap: 20px;
  }
  /* .content3{
    grid-template-columns: 4fr 1fr 1fr;
  } */
}

@media (min-width: 481px) and (max-width: 768px) {
  .search-div {
    width: 40%;
  }
}

@media print {
  .cat {
    display: none;
  }
}
